
.b-pad {
    background: none repeat scroll 0 0 #90EE90;
    height: 555px;
    width: 555px;
    position: absolute;
    top: 100px;
    left: 200px;
}

.b-pad__coord {
    background: #ffffff none repeat scroll 0 0;
    display: inline-block;
    height: 30px;
    margin: 5px;
    width: 300px;
}

